<div class="image">
  <img src="{{ article.imageUrl }}" />
</div>
<div class="content">
  <div class='header'>
    {{ article.title }}
  </div>
  <div class="meta">
    <span class="ui blue small label">
      <i class="heart icon"></i>
      <div class="detail">
        {{ article.votes }}
      </div>
    </span>
    <span class="ui right floated">
      <a (click)="upvote()" class="ui small label">
        <i class="arrow up icon"></i>
        Upvote
      </a>
      <a (click)="downvote()" class="ui small label">
        <i class="arrow down icon"></i>
        Downvote
      </a>
    </span>
  </div>
  <div class="meta date">
    {{ article.publishedAt | date:'medium' }}
  </div>
  <div class="meta description">
    <p>{{ article.description }}</p>
  </div>
  <div class="extra">
    <a href='#' target='_blank' class='ui right floated button primary'>
      Read more
      <i class='right chevron icon'></i>
    </a>
  </div>
</div>
